@page
@model ForgotPasswordConfirmation
@{
    Layout = null;
    ViewData["Title"] = "Forgot password confirmation";
}

<section class="section section-xl bg-default text-md-left">
    <div class="container">
        <div class="row row-50 justify-content-md-center">
            <div class="col-md-10 col-lg-6">
                <div class="card-login-register" id="card-l-r">
                    <div class="card-form card-form-login">
                        <h1 class="h3">
                            @ViewData["Title"]
                        </h1>
                        <div class="height30"></div>
                        <p>
                            Please check your email to reset your password.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

