@model string
<div class="card card-modern">
    <div class="card-header">
        <div class="card-actions">
            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
        </div>
        <h2 class="card-title">@Model</h2>
    </div>
    <div class="card-body">
